#likeButton {
  background-color: blue;
  display: block;
  width: 10em;
  height: 4em;
  margin: 5em auto;
  color: #fff;
  font-size: 2em; }

#resetButton {
  background-color: red;
  display: block;
  width: 5em;
  height: 2em;
  margin: 0 auto;
  color: white; }
